In [1]:
import pandas as pd

spacex_df = pd.read_csv("spacex_launch_dash.csv")

In [10]:
print(spacex_df.dtypes)
spacex_df.head()

Unnamed: 0                    int64
Flight Number                 int64
Launch Site                  object
class                         int64
Payload Mass (kg)           float64
Booster Version              object
Booster Version Category     object
dtype: object

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0

In [11]:
all_df = spacex_df[spacex_df['class'] == 1]
all_df.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
17,17,19,CCAFS LC-40,1,1952.0,F9 v1.1 B1018,v1.1
18,18,20,CCAFS LC-40,1,2034.0,F9 FT B1019,FT
20,20,23,CCAFS LC-40,1,3136.0,F9 FT B1021.1,FT
21,21,24,CCAFS LC-40,1,4696.0,F9 FT B1022,FT
22,22,25,CCAFS LC-40,1,3100.0,F9 FT B1023.1,FT

In [13]:
range_df=spacex_df[spacex_df['Payload Mass (kg)'].between(3000,7000)]
range_df.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
5,5,7,CCAFS LC-40,0,3170.0,F9 v1.1,v1.1
6,6,8,CCAFS LC-40,0,3325.0,F9 v1.1,v1.1
9,9,11,CCAFS LC-40,0,4535.0,F9 v1.1,v1.1
10,10,12,CCAFS LC-40,0,4428.0,F9 v1.1 B1011,v1.1
14,14,16,CCAFS LC-40,0,4159.0,F9 v1.1 B1014,v1.1